@import url('https://fonts.googleapis.com/css?family=Montserrat');
body, html{
    height: calc(100% - 2em);
    margin: 0;
    font-family: 'Montserrat'
}

body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0000ff+0,87ceeb+100 */
background: #0000ff; /* Old browsers */
background: -moz-linear-gradient(45deg, #0000ff 0%, #87ceeb 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #0000ff 0%,#87ceeb 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #0000ff 0%,#87ceeb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000ff', endColorstr='#87ceeb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
background-repeat: no-repeat;
background-attachment: fixed;

display: grid;
grid-template-columns: 20% auto;
padding:2em;
}

aside {
background-color: #DCE1F6;
grid-template-columns: auto;
grid-template-rows: 20% auto;
padding:2em;
}

nav {
    background-image: #fff;
}

ul {
    display: block;
    list-style-type: none;
    margin:0;
    padding:0;
    position: relative;
    font-size: 1.3em;
    background: none;
    margin-top: 2em;
}

ul li a {
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    font-size: .8em;
    padding: 1.5em 3em;
    color:#000;
    background-color: rgba(255, 255, 255, .35);
}

ul li a:hover {
    cursor: pointer;
}

figcaption {
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    color:#000;
}

main {
    background-color: white;
    padding:4em;
    background: rgb(255, 255, 255); 
    /* background: rgb(255, 255, 255); url(../images/bg.svg) no-repeat bottom right; */
    background-size: 70%;
}

#avatar {
    border-radius: 50%;
    background-color: white;
    width:50px;
    height: 50px;
    margin:2em auto 1em auto;
}

h1 {
    font-size: 3em;
    margin-top:2em;
}

.cta {
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
    color:#fff;
    background-color: #0000ff;
    padding: 8px 50px;
    font-size: 1.2em;
    text-align: center;
    border-radius: 4px;
    margin: 2em 0;
}

